# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Entitas-Example.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Любовь\Desktop\Entitas-Example\.idea\.idea.Entitas-Example\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
